.nav {
    background-color: rgb(50, 48, 48);

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.nav-title {
    font-size: 30px;
    font-style: normal;
    color: white;

}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 15px;
    color: white;
}

.nav-links li {
    display: inline;
    color: white;
}

.nav-links a {
    text-decoration: none;
    margin-right: 20px;
    color: darkgrey;
}

.btn {


    background-color: rgb(89, 89, 211);
    color: white;
    font-size: 14px;
    display: inline-block;
    padding: 5px 10px;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 4px 4px 4px black;

}

.nav-links a.active {
    color: white;
}